# Module 12 — Lists (Interactive Notebook)
Use this notebook during the live remote lesson. Students should **Run** each cell as you go.

**Topics:** Lists → looping → comprehensions → methods → aliasing → shallow copy → nested lists → file I/O

## 0. Setup
(Optional) Run this cell first. It just defines a helper for clean section breaks.)

In [2]:
def banner(text):
    print("\n" + "="*60)
    print(text)
    print("="*60)

banner("Module 12 — Lists")

============================================================
Module 12 — Lists
============================================================

## 1. What lists are
- Ordered
- Mutable
- Heterogeneous (can mix types)
- Built with `[ ]`

In [3]:
banner("1) What lists are")

lst = [10, "hello", True]
print(lst)
print(type(lst))

============================================================
1) What lists are
============================================================
[10, 'hello', True]
<class 'list'>

## 2. Indexing and slicing lists
Key points:
- Zero-based indexing
- Negative indexing
- Slices produce **new lists**

In [4]:
banner("2) Indexing & slicing")

lst = ["a", "b", "c", "d", "e"]
print("lst:", lst)
print("lst[0]:", lst[0])
print("lst[-1]:", lst[-1])

print("lst[1:4]:", lst[1:4])
print("lst[:3]:", lst[:3])
print("lst[3:]:", lst[3:])
print("lst[::2]:", lst[::2])

============================================================
2) Indexing & slicing
============================================================
lst: ['a', 'b', 'c', 'd', 'e']
lst[0]: a
lst[-1]: e
lst[1:4]: ['b', 'c', 'd']
lst[:3]: ['a', 'b', 'c']
lst[3:]: ['d', 'e']
lst[::2]: ['a', 'c', 'e']

### Quick check (students)
Predict the output before running:

In [5]:
# Predict first, then run.
lst = [100, 200, 300, 400, 500]
print(lst[1:])      # ?
print(lst[:4])      # ?
print(lst[-3:])     # ?
print(lst[::2])     # ?

[200, 300, 400, 500]
[100, 200, 300, 400]
[300, 400, 500]
[100, 300, 500]

## 3. Lists and assignment
Assignment overwrites an element (replaces it).

In [6]:
banner("3) Assignment overwrites")

lst = ["hello", "world", "python"]
print("before:", lst)
lst[2] = 999
print("after: ", lst)

============================================================
3) Assignment overwrites
============================================================
before: ['hello', 'world', 'python']
after:  ['hello', 'world', 999]

## 4. Looping with lists
A `for` loop is designed to work well with lists.

In [7]:
banner("4) Looping with lists")

names_list = ["Avigyle", "Leah", "Chana"]
for name in names_list:
    print(name)

============================================================
4) Looping with lists
============================================================
Avigyle
Leah
Chana

### 4b. Looping with index using `enumerate`

In [8]:
banner("4b) enumerate")

names = ["Avigyle", "Leah", "Chana"]

print("Using range(len()))")
for i in range(len(names)):
    print(i, names[i])

print("\nUsing enumerate()")
for index, value in enumerate(names):
    print(index, value)

print("\nEnumerate starting at 1")
for index, value in enumerate(names, start=1):
    print(index, value)

============================================================
4b) enumerate
============================================================
Using range(len()))
0 Avigyle
1 Leah
2 Chana

Using enumerate()
0 Avigyle
1 Leah
2 Chana

Enumerate starting at 1
1 Avigyle
2 Leah
3 Chana

## 5. Looping through lists with list comprehensions
Syntax:
```python
new_list = [expression for item in old_list if condition]
```
- Best for **creating a new list**
- Use a normal loop for printing, complex logic, or heavy mutation.

In [9]:
banner("5) List comprehension (no condition)")

nums = [1, 2, 3, 4]
squares = [n*n for n in nums]
print("nums:", nums)
print("squares:", squares)

============================================================
5) List comprehension (no condition)
============================================================
nums: [1, 2, 3, 4]
squares: [1, 4, 9, 16]

In [10]:
banner("5b) List comprehension (with condition)")

nums = [3, 8, 2, 11, 5]
evens = [n for n in nums if n % 2 == 0]
print("nums:", nums)
print("evens:", evens)

============================================================
5b) List comprehension (with condition)
============================================================
nums: [3, 8, 2, 11, 5]
evens: [8, 2]

### Practice (students)
Fill in the comprehension:

In [17]:
# 1) Make a list of lengths of each word
words = ["hi", "welcome", "python"]
# lengths = [...]
lengths = [len(w) for w in words]
# print(lengths)
print(lengths)

# 2) Make a list of numbers > 10
nums = [5, 11, 2, 99, 10, 12]
# big = [...]
big = [n for n in nums if n > 10]
# print(big)
print(big)

[2, 7, 6]
[11, 99, 12]

## 6. List methods (core)
We will demo: `append`, `remove`, `pop`, `del`, `clear`, `insert`, `sorted` vs `.sort()`.

In [18]:
banner("6) append()")

lst = ["hello", "world", "python"]
print("before:", lst)
lst.append("MCON")
print("after: ", lst)

============================================================
6) append()
============================================================
before: ['hello', 'world', 'python']
after:  ['hello', 'world', 'python', 'MCON']

In [19]:
banner("6b) remove() and pop()")

lst = ["hello", "world", "python", "hello"]
print("before:", lst)

lst.remove("hello")  # removes FIRST 'hello'
print("after remove:", lst)

value = lst.pop(2)   # remove and return element at index 2
print("after pop(2):", lst)
print("popped value:", value)

============================================================
6b) remove() and pop()
============================================================
before: ['hello', 'world', 'python', 'hello']
after remove: ['world', 'python', 'hello']
after pop(2): ['world', 'python']
popped value: hello

In [20]:
banner("6c) del")

a = [10, 20, 30, 40]
del a[1]
print("delete index 1:", a)

a = [10, 20, 30, 40, 50]
del a[1:4]
print("delete slice 1:4:", a)

============================================================
6c) del
============================================================
delete index 1: [10, 30, 40]
delete slice 1:4: [10, 50]

In [21]:
banner("6d) clear()")

lst = ["hello", "world", "python"]
print("before:", lst)
lst.clear()
print("after: ", lst)

============================================================
6d) clear()
============================================================
before: ['hello', 'world', 'python']
after:  []

In [22]:
banner("6e) insert()")

lst = ["hello", "world", "python"]
print("before:", lst)
lst.insert(1, "middle")
print("after: ", lst)

============================================================
6e) insert()
============================================================
before: ['hello', 'world', 'python']
after:  ['hello', 'middle', 'world', 'python']

In [23]:
banner("6f) sorted(x) vs .sort()")

nums = [3, 1, 4, 2]
sorted_nums = sorted(nums)
print("original:", nums)
print("sorted(): ", sorted_nums)

nums2 = [3, 1, 4, 2]
print("\nbefore sort:", nums2)
nums2.sort()
print("after sort: ", nums2)

============================================================
6f) sorted(x) vs .sort()
============================================================
original: [3, 1, 4, 2]
sorted():  [1, 2, 3, 4]

before sort: [3, 1, 4, 2]
after sort:  [1, 2, 3, 4]

## 7. Accumulator patterns
- Start with an initial value
- Loop
- Update total / count / list

In [24]:
banner("7) Sum accumulator")

numbers = [3, 6, 9]
total = 0
for n in numbers:
    total = total + n
print("total:", total)

============================================================
7) Sum accumulator
============================================================
total: 18

In [25]:
banner("7b) Filter into a list accumulator")

nums = [3, 8, 2, 11, 5]
evens = []
for n in nums:
    if n % 2 == 0:
        evens.append(n)
print("evens:", evens)

============================================================
7b) Filter into a list accumulator
============================================================
evens: [8, 2]

## 7c. Passing and returning lists with functions
Key idea: when you pass a list into a function, the function receives a **reference** to that list.

**Two common patterns:**
1) **Mutate in place** (the original list changes)
2) **Return a new list** (the original list stays the same)

In [26]:
banner("7c) Passing a list into a function (mutate in place)")

def add_bonus_in_place(scores, bonus):
    # Mutates the original list
    for i in range(len(scores)):
        scores[i] += bonus

scores = [80, 90, 85]
print("before:", scores)
add_bonus_in_place(scores, 5)
print("after: ", scores)  # changed

============================================================
7c) Passing a list into a function (mutate in place)
============================================================
before: [80, 90, 85]
after:  [85, 95, 90]

In [27]:
banner("7d) Returning a NEW list (original unchanged)")

def add_bonus_new(scores, bonus):
    # Returns a new list; does not change the original
    new_scores = []
    for s in scores:
        new_scores.append(s + bonus)
    return new_scores

scores = [80, 90, 85]
print("original:", scores)
updated = add_bonus_new(scores, 5)
print("updated: ", updated)
print("still original:", scores)  # unchanged

============================================================
7d) Returning a NEW list (original unchanged)
============================================================
original: [80, 90, 85]
updated:  [85, 95, 90]
still original: [80, 90, 85]

In [28]:
banner("7e) Common pitfall: aliasing inside a function")

def bad_copy(lst):
    # This does NOT make a copy; it creates an alias
    b = lst
    b.append("NEW")
    return b

names = ["Avigyle", "Leah", "Chana"]
print("before names:", names)
result = bad_copy(names)
print("after names: ", names)     # changed (same list)
print("result:     ", result)

============================================================
7e) Common pitfall: aliasing inside a function
============================================================
before names: ['Avigyle', 'Leah', 'Chana']
after names:  ['Avigyle', 'Leah', 'Chana', 'NEW']
result:      ['Avigyle', 'Leah', 'Chana', 'NEW']

In [29]:
banner("7f) Safe: make a shallow copy inside a function")

def safe_copy_and_append(lst):
    b = lst[:]        # shallow copy of the outer list
    b.append("NEW")
    return b

names = ["Avigyle", "Leah", "Chana"]
print("before names:", names)
result = safe_copy_and_append(names)
print("after names: ", names)     # unchanged
print("result:     ", result)

============================================================
7f) Safe: make a shallow copy inside a function
============================================================
before names: ['Avigyle', 'Leah', 'Chana']
after names:  ['Avigyle', 'Leah', 'Chana']
result:      ['Avigyle', 'Leah', 'Chana', 'NEW']

## 8. Aliasing (IMPORTANT)
`b = a` does **not** copy a list. It creates another name for the same list object.

In [30]:
banner("8) Aliasing")

a = ["hello", "world", "python"]
b = a
print("a before:", a)
print("b before:", b)

b[1] = "CHANGED"

print("a after: ", a)
print("b after: ", b)

============================================================
8) Aliasing
============================================================
a before: ['hello', 'world', 'python']
b before: ['hello', 'world', 'python']
a after:  ['hello', 'CHANGED', 'python']
b after:  ['hello', 'CHANGED', 'python']

## 9. Shallow copy (flat lists)
A shallow copy creates a new outer list.
Common shallow copies: `a[:]`, `list(a)`, `a.copy()`.

In [31]:
banner("9) Shallow copy with [:]")

list_one = ['a', 'b', 'c']
list_two = list_one[:]  # shallow copy
print("list_two:", list_two)

list_two.append('d')
print("list_one:", list_one)
print("list_two:", list_two)

============================================================
9) Shallow copy with [:]
============================================================
list_two: ['a', 'b', 'c']
list_one: ['a', 'b', 'c']
list_two: ['a', 'b', 'c', 'd']

In [32]:
banner("9b) Shallow copy using += into an empty list")

list_one = ['a', 'b', 'c']
list_two = []
list_two += list_one
print("list_two:", list_two)

list_two.append('d')
print("list_one:", list_one)
print("list_two:", list_two)

============================================================
9b) Shallow copy using += into an empty list
============================================================
list_two: ['a', 'b', 'c']
list_one: ['a', 'b', 'c']
list_two: ['a', 'b', 'c', 'd']

#9d. File I/O with 1D lists (read and write)
Common formats:

one item per line (names, words)
CSV on one line (numbers separated by commas)

In [33]:
banner("15d) Create a sample file: names_1d.txt (one name per line)")

sample = """Avigyle
Leah
Chana
Rivka
"""
with open("names_1d.txt", "w") as f:
    f.write(sample)

print("Wrote names_1d.txt")

============================================================
15d) Create a sample file: names_1d.txt (one name per line)
============================================================
Wrote names_1d.txt

In [34]:
banner("15e) Read names_1d.txt into a 1D list")

names = []
with open("names_1d.txt", "r") as f:
    for line in f:
        name = line.strip()
        if name == "":
            continue
        names.append(name)

print(names)

============================================================
15e) Read names_1d.txt into a 1D list
============================================================
['Avigyle', 'Leah', 'Chana', 'Rivka']

In [35]:
banner("15f) Write a 1D list back to a file (one per line)")

with open("names_out.txt", "w") as f:
    for name in names:
        f.write(name + "\n")

print("Wrote names_out.txt")

============================================================
15f) Write a 1D list back to a file (one per line)
============================================================
Wrote names_out.txt

In [36]:
banner("15g) One-line CSV of numbers: create & read")

# File contains ONE LINE: comma-separated numbers
with open("nums_1d.csv", "w") as f:
    f.write("10,20,30,40,50")

nums = []
with open("nums_1d.csv", "r") as f:
    line = f.readline().strip()
    if line != "":
        parts = line.split(",")
        for p in parts:
            nums.append(int(p))

print(nums)

============================================================
15g) One-line CSV of numbers: create & read
============================================================
[10, 20, 30, 40, 50]

In [37]:
banner("15h) Write numbers back as CSV (one line)")

with open("nums_out.csv", "w") as f:
    f.write(",".join(str(n) for n in nums))

print("Wrote nums_out.csv")

============================================================
15h) Write numbers back as CSV (one line)
============================================================
Wrote nums_out.csv

## 10. Nested lists
A nested list is a list that contains other lists.
```python
matrix = [[1,2],[3,4]]
```

In [38]:
banner("10) Nested lists")

matrix = [[1, 2], [3, 4]]
print(matrix)
print("row 0:", matrix[0])
print("cell (1,1):", matrix[1][1])

============================================================
10) Nested lists
============================================================
[[1, 2], [3, 4]]
row 0: [1, 2]
cell (1,1): 4

## 13. Creating nested lists
Three ways: literal, loops, safe comprehension. Also the common pitfall.

In [39]:
banner("13) Literal nested list")

grid = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(grid)

============================================================
13) Literal nested list
============================================================
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [40]:
banner("13b) Build nested lists with loops")

rows = 3
cols = 4
grid = []
for r in range(rows):
    row = []
    for c in range(cols):
        row.append(0)
    grid.append(row)

print(grid)

============================================================
13b) Build nested lists with loops
============================================================
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [41]:
banner("13c) Safe comprehension")

rows, cols = 3, 4
grid = [[0 for _ in range(cols)] for _ in range(rows)]
print(grid)

============================================================
13c) Safe comprehension
============================================================
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [42]:
banner("13d) Common pitfall: shared rows (DO NOT DO THIS)")

rows, cols = 3, 4
grid = [[0] * cols] * rows
grid[0][0] = 99
print(grid)

============================================================
13d) Common pitfall: shared rows (DO NOT DO THIS)
============================================================
[[99, 0, 0, 0], [99, 0, 0, 0], [99, 0, 0, 0]]

## 14. Looping through nested lists
- Row-by-row
- Element-by-element
- By indices
- Flatten with comprehension

In [43]:
banner("14) Row-by-row and element-by-element")

grid = [[1, 2, 3], [4, 5, 6]]

print("Rows:")
for row in grid:
    print(row)

print("\nValues:")
for row in grid:
    for value in row:
        print(value)

============================================================
14) Row-by-row and element-by-element
============================================================
Rows:
[1, 2, 3]
[4, 5, 6]

Values:
1
2
3
4
5
6

In [44]:
banner("14b) Indices")

grid = [[1, 2, 3], [4, 5, 6]]
for r in range(len(grid)):
    for c in range(len(grid[r])):
        print(r, c, grid[r][c])

============================================================
14b) Indices
============================================================
0 0 1
0 1 2
0 2 3
1 0 4
1 1 5
1 2 6

In [45]:
banner("14c) Flatten (list comprehension)")

grid = [[1, 2, 3], [4, 5, 6]]
flat = [value for row in grid for value in row]
print(flat)

============================================================
14c) Flatten (list comprehension)
============================================================
[1, 2, 3, 4, 5, 6]

## 15. Deleting nested values / rows
Using `del`, `pop`, `remove` (and when to use None as a placeholder).

In [46]:
banner("15) del nested element and row")

grid = [[1, 2, 3], [4, 5, 6]]
del grid[0][1]
print("after del grid[0][1]:", grid)

del grid[1]
print("after del grid[1]:", grid)

============================================================
15) del nested element and row
============================================================
after del grid[0][1]: [[1, 3], [4, 5, 6]]
after del grid[1]: [[1, 3]]

In [47]:
banner("15b) pop nested element and row")

grid = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
removed = grid[0].pop(1)
print("removed:", removed)
print("grid:", grid)

row = grid.pop(1)
print("popped row:", row)
print("grid:", grid)

============================================================
15b) pop nested element and row
============================================================
removed: 2
grid: [[1, 3], [4, 5, 6], [7, 8, 9]]
popped row: [4, 5, 6]
grid: [[1, 3], [7, 8, 9]]

In [48]:
banner("15c) remove by value (must match)")

grid = [[1, 2, 3], [4, 5, 6]]
grid[0].remove(2)
print("after grid[0].remove(2):", grid)

grid = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
grid.remove([4, 5, 6])
print("after grid.remove([4,5,6]):", grid)

============================================================
15c) remove by value (must match)
============================================================
after grid[0].remove(2): [[1, 3], [4, 5, 6]]
after grid.remove([4,5,6]): [[1, 2, 3], [7, 8, 9]]

## 11. Shallow copy with nested lists
New outer list, **shared inner lists**.

In [49]:
banner("11) Shallow copy with nested lists")

list_one = [[1, 2], [3, 4]]
list_two = list_one[:]  # shallow copy

list_one[0].append(99)  # mutate inner list
print("list_one:", list_one)
print("list_two:", list_two)

============================================================
11) Shallow copy with nested lists
============================================================
list_one: [[1, 2, 99], [3, 4]]
list_two: [[1, 2, 99], [3, 4]]

### 11b. Outer change does NOT propagate

In [50]:
banner("11b) Outer append does not propagate")

list_one = [[1, 2], [3, 4]]
list_two = list_one[:]

list_one.append([5, 6])  # change outer structure
print("list_one:", list_one)
print("list_two:", list_two)

============================================================
11b) Outer append does not propagate
============================================================
list_one: [[1, 2], [3, 4], [5, 6]]
list_two: [[1, 2], [3, 4]]

### 11c. Reassignment is not mutation

In [51]:
banner("11c) Reassignment is not mutation")

list_one = [[1, 2], [3, 4]]
list_two = list_one[:]

list_one[0] = [7, 8]   # reassign row 0
print("list_one:", list_one)
print("list_two:", list_two)

============================================================
11c) Reassignment is not mutation
============================================================
list_one: [[7, 8], [3, 4]]
list_two: [[1, 2], [3, 4]]

## 12. Deep copy (preview)
Use only when you need full independence of nested mutable objects.

In [52]:
banner("12) deepcopy preview")

import copy
a = [[1, 2], [3, 4]]
b = copy.deepcopy(a)

b[0][0] = 999
print("a:", a)
print("b:", b)

============================================================
12) deepcopy preview
============================================================
a: [[1, 2], [3, 4]]
b: [[999, 2], [3, 4]]

## 15d. File I/O with 1D lists (read and write)
Common formats:
- **one item per line** (names, words)
- **CSV on one line** (numbers separated by commas)

In [53]:
banner("15d) Create a sample file: names_1d.txt (one name per line)")

sample = """Avigyle
Leah
Chana
Rivka
"""
with open("names_1d.txt", "w") as f:
    f.write(sample)

print("Wrote names_1d.txt")

============================================================
15d) Create a sample file: names_1d.txt (one name per line)
============================================================
Wrote names_1d.txt

In [54]:
banner("15e) Read names_1d.txt into a 1D list")

names = []
with open("names_1d.txt", "r") as f:
    for line in f:
        name = line.strip()
        if name == "":
            continue
        names.append(name)

print(names)

============================================================
15e) Read names_1d.txt into a 1D list
============================================================
['Avigyle', 'Leah', 'Chana', 'Rivka']

In [55]:
banner("15f) Write a 1D list back to a file (one per line)")

with open("names_out.txt", "w") as f:
    for name in names:
        f.write(name + "\n")

print("Wrote names_out.txt")

============================================================
15f) Write a 1D list back to a file (one per line)
============================================================
Wrote names_out.txt

In [56]:
banner("15g) One-line CSV of numbers: create & read")

# File contains ONE LINE: comma-separated numbers
with open("nums_1d.csv", "w") as f:
    f.write("10,20,30,40,50")

nums = []
with open("nums_1d.csv", "r") as f:
    line = f.readline().strip()
    if line != "":
        parts = line.split(",")
        for p in parts:
            nums.append(int(p))

print(nums)

============================================================
15g) One-line CSV of numbers: create & read
============================================================
[10, 20, 30, 40, 50]

In [57]:
banner("15h) Write numbers back as CSV (one line)")

with open("nums_out.csv", "w") as f:
    f.write(",".join(str(n) for n in nums))

print("Wrote nums_out.csv")

============================================================
15h) Write numbers back as CSV (one line)
============================================================
Wrote nums_out.csv

## 16. File → nested list
We will create a sample file, then read it into a nested list.
**Format:** one row per line, whitespace-separated numbers.

In [58]:
banner("16) Create a sample file: matrix.txt")

sample = """1 2 3
4 5 6
7 8 9
"""
with open("matrix.txt", "w") as f:
    f.write(sample)

print("Wrote matrix.txt")

============================================================
16) Create a sample file: matrix.txt
============================================================
Wrote matrix.txt

In [59]:
banner("16b) Read matrix.txt into a nested list (NO comprehension)")

grid = []
with open("matrix.txt", "r") as f:
    for line in f:
        line = line.strip()
        if line == "":
            continue
        parts = line.split()  # splits on whitespace by default
        row = []
        for item in parts:
            row.append(int(item))
        grid.append(row)

print(grid)

============================================================
16b) Read matrix.txt into a nested list (NO comprehension)
============================================================
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [60]:
banner("16c) Read matrix.txt into a nested list (WITH comprehension)")

grid = []
with open("matrix.txt", "r") as f:
    for line in f:
        line = line.strip()
        if not line:
            continue
        row = [int(x) for x in line.split()]
        grid.append(row)

print(grid)

============================================================
16c) Read matrix.txt into a nested list (WITH comprehension)
============================================================
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 17. Write nested list back to a file
Two versions: without comprehension and with a generator expression.

In [61]:
banner("17) Write out.txt (NO comprehension)")

with open("out.txt", "w") as f:
    for row in grid:
        pieces = []
        for value in row:
            pieces.append(str(value))
        f.write(" ".join(pieces) + "\n")

print("Wrote out.txt")

============================================================
17) Write out.txt (NO comprehension)
============================================================
Wrote out.txt

In [62]:
banner("17b) Write out2.txt (generator expression)")

with open("out2.txt", "w") as f:
    for row in grid:
        f.write(" ".join(str(x) for x in row) + "\n")

print("Wrote out2.txt")

============================================================
17b) Write out2.txt (generator expression)
============================================================
Wrote out2.txt

## 18. Checkpoint exercises (stop here if needed)
These are designed to reveal confusion early.

1) Build a 3×3 grid of zeros.
2) Set the diagonal to 1.
3) Compute row sums.
4) Flatten the grid into one list.
5) Read a whitespace file into a nested list.

In [ ]:
# 1) Build a 3x3 grid of zeros (safe way)
# grid = ...

# 2) Set diagonal to 1
# for i in range(...):

# 3) Row sums
# row_sums = ...

# 4) Flatten
# flat = ...

# print(grid)
# print(row_sums)
# print(flat)